// Экран промо с картинкой
.main-screen {
    background-image: url(../assets/img/GiantPanda.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;

    .container {
        margin: 0 auto;
        max-width: 1160px;
        position: relative;
    }

    .back-circle {
        position: absolute;
        width: 465px;
        height: 465px;
        border-radius: 50%;
        right: 108px;
        top: 12px;

        background: $orange-back;
    }
}