doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetStory
        link(rel="stylesheet", href="/online-zoo/styles/normalize.css")
        link(rel="stylesheet", href="/online-zoo/styles/style.min.css")
    body
        header.header
            .header-container
                h1.logo
                    a.logo-link(href="/online-zoo/index.html")  PetStory online
                nav.nav
                    ul.nav-list
                        li.nav-item
                            a.nav-link.active-nav-link(href="/online-zoo/pages/main/main.html") About
                        li.nav-item
                            a.nav-link(href="") Map
                        li.nav-item
                            a.nav-link(href="") Zoos
                        li.nav-item
                            a.nav-link(href="/online-zoo/pages/donate/donate.html") Donate
                        li.nav-item
                            a.nav-link(href="") Contact us
                a.designed-link(href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online" target="_blank") Designed by ©

        main.main
            section.main-screen
                .container
                    .back-circle
                    .right-side
                        h2.promo Watch your #[span.extra-promo favorite] animal online
                        button.btn wath online

            section.history-screen
                .container
                    img.history-img(src="/online-zoo/assets/img/grandpa.jpg", alt="Old grandpa")
                    .description
                        h2 The Backstage of the Wilderness World.
                        p The site was founded on the basis of a volunteer movement to protect and care for animals.
                        h3 How it works
                        p.more-text The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are currently working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.
        include ../blocks/footer.pug