doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetStory
        link(rel="stylesheet", href="/online-zoo/styles/normalize.css")
        link(rel="stylesheet", href="/online-zoo/styles/style.min.css")
    body
        header.header
            .header-container
                h1.logo
                    a.logo-link(href="/online-zoo/index.html")  PetStory online
                nav.nav
                    ul.nav-list
                        li.nav-item
                            a.nav-link.active-nav-link(href="/online-zoo/pages/main/main.html") About
                        li.nav-item
                            a.nav-link(href="") Map
                        li.nav-item
                            a.nav-link(href="") Zoos
                        li.nav-item
                            a.nav-link(href="/online-zoo/pages/donate/donate.html") Donate
                        li.nav-item
                            a.nav-link(href="") Contact us
                a.designed-link(href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online" target="_blank") Designed by ©

        main.main
            section.main-screen
                .container
                    .back-circle
                    h2.promo Watch your favorite animal online
                    button.btn wath online
        include ../blocks/footer.pug