doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetStory
        link(rel="stylesheet", href="/online-zoo/styles/normalize.css")
        link(rel="stylesheet", href="/online-zoo/styles/style.min.css")
    body
        include ../blocks/header.pug
        include ../blocks/footer.pug