doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetStory
        link(rel="stylesheet", href="../../styles/normalize.css")
        link(rel="stylesheet", href="../../styles/style.min.css")
    body
        header.header
            .header-container
                h1.logo
                    a.logo-link(href="./main.html")  PetStory online
                nav.nav
                    ul.nav-list
                        li.nav-item
                            a.nav-link.active-nav-link(href="./main.html") About
                        li.nav-item
                            a.nav-link(href="") Map
                        li.nav-item
                            a.nav-link(href="") Zoos
                        li.nav-item
                            a.nav-link(href="../donate/donate.html") Donate
                        li.nav-item
                            a.nav-link(href="") Contact us
                a.designed-link(href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online" target="_blank") Designed by ©

        main.main
            section.main-screen
                .container
                    .back-circle
                    .right-side
                        h2.promo Watch your #[span.extra-promo favorite] animal online
                        button.btn watch online

            section.history-screen
                .container
                    img.history-img(src="../../assets/img/grandpa.jpg", alt="Old grandpa")
                    .description
                        h2 The Backstage of the Wilderness World.
                        p The site was founded on the basis of a volunteer movement to protect and care for animals.
                        h3 How it works
                        p.more-text The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are currently working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.

            section.pets
                .left-back-img
                .right-back-img
                .container
                    .pets-slider
                        button.left-slider-arrow.slider-arrow
                        ul.pets-list
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img1.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name giant Pandas
                                        .pet-place Native to Southwest China
                                    .pet-icon.banana-icon
                                .pop-up
                                    .name Giant Pandas
                                    .place Southwest China
                                    btn.watch Whatch online
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img2.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name Eagles
                                        .pet-place Native to South America
                                    .pet-icon.meat-icon
                                .pop-up
                                    .name Eagles
                                    .place South America
                                    btn.watch Whatch online
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img3.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name Gorillas
                                        .pet-place Native to Congo
                                    .pet-icon.banana-icon
                                .pop-up
                                    .name Gorillas
                                    .place Congo
                                    btn.watch Whatch online
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img4.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name Two-toed Sloth
                                        .pet-place Mesoamerica, South America
                                    .pet-icon.banana-icon
                                .pop-up
                                    .name Two-toed Sloth
                                    .place South America
                                    btn.watch Whatch online
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img5.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name cheetahs
                                        .pet-place Native to Africa
                                    .pet-icon.meat-icon
                                .pop-up
                                    .name cheetahs
                                    .place Africa
                                    btn.watch Whatch online
                            li.pet-card
                                img.pet-img.pet-img-1(src="../../assets/img/img6.jpg", alt="Giant Pandas")
                                .pet-info
                                    .pet-descr
                                        .pet-name Penguins
                                        .pet-place Native to Antarctica
                                    .pet-icon.meat-icon
                                .pop-up
                                    .name Penguins
                                    .place Antarctica
                                    btn.watch Whatch online


                        button.right-slider-arrow.slider-arrow
                    button.btn.choose-fav choose your favorite

            section.pick-feed
                .container
                    h2 Pick and feed a friend
                    p.big-text We know the animals bring you joy, and in these extraordinary times, we’re glad.
                    p.bold-text During a time when the COVID-19 epidemic is touching all of our lives, we’re proud and glad that people around the world find joy in PetStory.
                    p.text Even though the zoo has reopened, we need you now more than ever to help us deal with these problems. Please consider <br> a gift to our #[a(href="/online-zoo/pages/donate/donate.html")  Emergency Support Fund] .
                    h3 How it works
                    .doings
                        .card
                            .pic.pay-card
                            p Pay with card
                        .arrow
                        .card
                            .pic.money-card
                            p Payment goes to the zoo
                        .arrow
                        .card
                            .pic.monkey-card
                            p Your favourite animal gets delicious dish
                    button.btn Feed a friend now



        include ../blocks/footer.pug