// colors
$orange: #FE9013;
$orange-back: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

@import "pages/blocks/header";
@import "pages/main/main";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// common styles
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;

    box-sizing: border-box;
}

